body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #b1d8ff;
    /* Couleur de fond similaire aux CGU */
    color: #333;
}
body.dark-theme {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #000130;
    /* Couleur de fond similaire aux CGU */
    color: #333;
}

.container {
    margin: auto;
    overflow: hidden;
}

h1 {
    color: black;
    padding: 15px;
    text-align: center;
}
body.dark-theme h1 {
    color: white;
    padding: 15px;
    text-align: center;
}

h2 {
    color: white;
    background-color: #0056b3;
    /* Fond bleu pour les sous-titres */
    padding: 15px;
    text-align: center;
    /* Sous-titres centralisés */
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0, 0.1);
    /* Ombre portée pour les sous-titres /
border-radius: 4px; / Bords arrondis pour les sous-titres */
}

.p {
    color: black;
    /* Couleur du texte */
    margin: 10px auto;
    /* Centrage des paragraphes */
    width: 80%;
    /* Largeur des paragraphes cohérente avec les sous-titres */
    padding: 10px 0;
    /* Espacement autour du texte */
}
body.dark-theme .p {
    color: white;
    /* Couleur du texte */
    margin: 10px auto;
    /* Centrage des paragraphes */
    width: 80%;
    /* Largeur des paragraphes cohérente avec les sous-titres */
    padding: 10px 0;
    /* Espacement autour du texte */
}

/* Pour rendre le contenu plus lisible sur les petits écrans */
@media (max-width: 768px) {

    .container,
    h1,
    h2,
    p {
        width: 95%;
        /* Plus de marge sur les petits écrans */
    }
}
