* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.general-stats a,
.general-stats a:visited {
    text-decoration: none;
    color: black;
}

body {
    width: 100%;
    height: 100%;
    background: #b1d8ff;
}
body.dark-theme {
    width: 100%;
    height: 100%;
    background: #000130;
}

.container-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.page-header {
    background-color: #0056b3;
    color: white;
    padding: 20px;
    text-align: center;
    width: 80%;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.page-title {
    font-size: 28px;
    font-weight: bold;
}

.chart-section {
    margin: 20px auto;
    width: 75%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.chart-image {
    width: 100%;
    height: auto;
    display: block;
}

.separator {
    height: 4px;
    background: #ccc;
    width: 75%;
    margin: 20px auto;
}

.general-stats {
    display: flex;
    justify-content: space-around;
    /* Ensure items are evenly distributed */
    align-items: center;
    /* Align items vertically */
    flex-wrap: wrap;
    /* Wrap items for responsiveness */
    gap: 20px;
    width: 85%;
    /* Match the width of chart-section for consistency */
    margin: 20px auto;
    /* Center the section on the page */
}

.p,
.general-stats img {
    font-size: 20px;
    color: #333;
    margin: 10px 0;
    text-align: center;
    /* Center align text for each item */
}
body.dark-theme .p,
body.dark-theme .general-stats img {
    font-size: 20px;
    color: #ffffff;
    margin: 10px 0;
    text-align: center;
    /* Center align text for each item */
}
body.dark-theme #best-song{
    color:white;
}

.general-stats img {
    width: 200px;
    /* Set a fixed width */
    height: 200px;
    /* Set a fixed height */
    background-color: #e1e4e8;
    border-radius: 4px;
    object-fit: cover;
    /* Ensure images cover the area without distortion */
}

.song-info img {
    display: block;
    margin: 0 auto 10px;
}

#deezer {
    text-align: center;
}

@media only screen and (max-width: 768px) {

    .chart-section,
    .general-stats {
        width: 95%;
    }

    .general-stats img {
        width: 150px;
        /* Smaller size for smaller screens */
        height: 150px;
        /* Maintain aspect ratio */
    }
}


#graph-container canvas {
    display: block;
    width: 100% !important;
    height: auto !important;
    max-height: 400px;
    /* Définissez la hauteur maximale souhaitée ici */
}

#statsJS {
    width: 100%;
}

.invitation-message {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
body.dark-theme .invitation-message {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.select-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

#selectEtablissement,
#selectEvenement {
    padding: 10px;
    width: 250px;
    /* ou une largeur qui s'adapte mieux à votre design */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    cursor: pointer;
}
body.dark-theme #selectEtablissement,
body.dark-theme #selectEvenement {
    padding: 10px;
    width: 250px;
    /* ou une largeur qui s'adapte mieux à votre design */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #000;
    font-size: 16px;
    color: #ddd;
    cursor: pointer;
}

#btnLoadData {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#btnLoadData:hover {
    background-color: #003c7a;
}

/* Vous pouvez ajouter des styles pour les états focus et active des éléments select si nécessaire */
#selectEtablissement:focus,
#selectEvenement:focus {
    border-color: #0056b3;
    outline: none;
}

#graph-container {
    width: 80%;
    margin: 0 auto;
}

canvas {
    margin: 20px 0;
}

#header-nav .a-header:nth-child(2) {
    background-color: #0562be;
}


#graph-container p {
    text-align: center;
    /* Centrer le texte */
    font-size: 1rem;
    /* Taille de police plus grande */
    /* Mise en gras */
    color: black;
    /* Couleur en noir */
}
body.dark-theme #graph-container p {
    text-align: center;
    /* Centrer le texte */
    font-size: 1rem;
    /* Taille de police plus grande */
    /* Mise en gras */
    color: white;
    /* Couleur en noir */
}

.graph-block {
    border: 1px solid #000;
    /* Bordure noire de 1px */
    padding: 10px;
    /* Espace à l'intérieur de la bordure */
    margin-bottom: 20px;
    /* Espace au-dessous de chaque graphique et conclusion */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Ombre légère pour un effet en relief */
    color:black;
}
body.dark-theme .graph-block {
    border: 1px solid #0562be;
    /* Bordure noire de 1px */
    padding: 10px;
    /* Espace à l'intérieur de la bordure */
    margin-bottom: 20px;
    /* Espace au-dessous de chaque graphique et conclusion */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Ombre légère pour un effet en relief */
    color: white;
}