body {
  background: #b1d8ff;
  font-family: Arial, sans-serif;
  /* Ajouter une police de caractères */
}
body.dark-theme {
  background: #000130;
  font-family: Arial, sans-serif;
  /* Ajouter une police de caractères */
}

h1 {
  color: black;
  padding: 15px;
  text-align: center;
}
body.dark-theme h1 {
  color: white;
  padding: 15px;
  text-align: center;
}

section {
  margin: 30px 0;
}

h2 {
  color: white;
  background-color: #0056b3;
  padding: 15px;
  text-align: center;
  width: 80%;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.p {
  color: black;
  margin: 10px auto;
  width: 80%;
  line-height: 1.6;
  /* Améliorer l'espacement des lignes */
}
body.dark-theme .p {
  color: white;
  margin: 10px auto;
  width: 80%;
  line-height: 1.6;
  /* Améliorer l'espacement des lignes */
}

/* Responsive design */
@media (max-width: 768px) {

  h2,
  p {
    width: 95%;
  }
}
