body{
    background: #b1d8ff;
}
body.dark-theme{
    background:#000130;
}
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 300px;
}
body.dark-theme .form-container {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 300px;
}

.form-container label {
    color: #0056b3;
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}
body.dark-theme .form-container label {
    color: #b1d8ff;
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}
.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="date"],
.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.form-container input[type="submit"] {
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #004a9f;
}
  /* Style pour masquer le formulaire d'événement initialement */
  #formulaireEvenement {
    display: none;
}