body {
    background-color: #f8f8f8;
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
}

main {
    margin: 30px;
}

/* Styles pour la barre de navigation */
.navbar {
    background-color: #001f3f !important;
    color: white;
    padding: 10px 20px;
}

/* Style général pour le header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001f3f;
    color: white;
    padding: 15px;
}

/* Style pour le logo */
header a img.logo {
    width: 150px;
    height: auto;
}

/* Style pour la barre de navigation */
#header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.a-header {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    margin-right: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.a-header:hover {
    background-color: #004080;
}

/* Style pour le bouton de connexion */
#connexion-button,
#deconnexion-button {
    background-color: #004080;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#deconnexion-button:hover,
#connexion-button:hover {
    background-color: #001f3f;
}

#deconnexion-button {
    font-weight: bold;
    transition: 0.4s;
}

/***************POPUP******************/



.popup {
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s linear 0.5s;
    position: fixed;
    right: 0;
    top: 0;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 5px solid #004080;
    z-index: 1000;
    overflow: auto;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(203, 200, 200);
}

.popup.open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0s;
}

.popup-content {
    padding: 20px;
    margin-top: 60px;
}

label[for="sisexe"],
label[for="siestAdmin"],
label[for="siestSuperAdmin"] {
    color: black;
}

label[for="siestSuperAdmin"] {
    padding-top: 20px;
    display: block;
}


#siville,
#simotdepasse {
    margin-top: 10px;
}

.close {
    z-index: 100000000;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

/******************************/

/* Styles additionnels pour le formulaire de connexion */
.Titre {
    color: #004080;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 1000;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.form {
    width: 400px;
    /* Taille fixe pour contrôler la largeur du formulaire */
    text-align: center;
    padding: 40px;
    /* Fond blanc pour le formulaire */
    border-radius: 8px;
    /* Bords arrondis */
    margin: auto;
    /* Centrer dans la pop-up */
    position: relative;
    /* Pour positionnement absolu des éléments à l'intérieur */
}

/* Styles pour les champs de formulaire et les icônes */
.labelmdp {
    position: relative;
    /* Position relative pour l'icône de l'œil */
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
    font-size: 1rem;
    padding: 10px 40px 10px 10px;
    /* Padding à droite pour l'icône */
    border-radius: 20px;
    border: 2px solid #004080;
    width: 200px;
    /* Ajuster pour la bordure */
    margin-bottom: 15px;
}

.msg,
.msgImportant {
    color: red;
}

.fa {
    color: black;
}

.password-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #004080;
    cursor: pointer;
}

.password-icon i {
    font-size: 1.2rem;
}

#inscription,
#connexion {
    text-decoration: underline;
    cursor: pointer;
}

/*
#inputmdp:hover+.password-icon #eyeoff {
    display: block;
    /* Afficher quand le champ de mot de passe est survolé */

/* Styles pour le bouton de soumission */
input[type="submit"] {
    background-color: #004080;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    /* Espace entre le dernier lien/élément et le bouton */
    width: 100%;
    /* Pleine largeur */
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1rem;
}

input[type="submit"]:hover {
    background-color: #002f5f;
}

/* Styles pour les liens du formulaire */
a {
    color: #004080;
    margin-top: 15px;
    /* Espace au-dessus du lien */
    display: inline-block;
    /* Pour permettre les marges */
}

/* Media queries pour ajuster pour les petits écrans */
@media screen and (max-width: 900px) {
    .form {
        width: 90%;
        /* Plus large sur petits écrans */
        padding: 20px;
        /* Moins de padding sur petits écrans */
    }
}

@media screen and (max-width: 600px) {
    .form {
        width: 90%;
        /* Encore plus large sur très petits écrans */
    }
}

.input-icon {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    width: 200px;
    /* Définir la largeur du conteneur */
}

.input-icon input {
    width: 100%;
    /* Utiliser 100% de la largeur du conteneur .input-icon */
    padding-right: 30px;
    /* Ajouter de l'espace à droite pour l'icône */
}

.input-icon label {
    position: absolute;
    right: 10px;
    /* Positionner l'icône à 10px du bord droit */
    top: 50%;
    /* Centrer verticalement */
    transform: translateY(-50%);
    /* Ajustement fin pour le centrage vertical */
    cursor: pointer;
}

.hidden {
    display: none;
}