body {
    background-color: #f8f8f8;
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    background: #b1d8ff;
}

main {
    margin: 30px;
}

.page-header {
    text-align: center;
    /* Centre tout le contenu de .page-header */
}

.page-title {
    color: white;
    /* background-color: #0056b3; */
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: inline-block;
    /* Restreint la largeur du fond au contenu du titre */
    margin: 20px 0;
    /* Ajoute de l'espace autour du titre */
}

#titre-stat {
    font-size: 20px;
}

/* Style pour la barre de recherche */
.search-form {
    text-align: center;
    margin-top: 20px;
}

.search-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 300px;
}

.search-form button {
    padding: 10px 20px;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #001f3f;
}
