* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
    background: #b1d8ff;
}

.container-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.page-header {
    background-color: #0056b3;
    /* Couleur d'arrière-plan du bloc de conclusion */
    color: white;
    /* Texte blanc */
    padding: 20px;
    /* Espacement intérieur */
    text-align: center;
    width: 85%;
    /* Largeur à 100% */
    margin: 20px auto;
    /* Espacement sous le titre */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Ombre portée légère */
    border-radius: 4px;
    /* Coins arrondis */
}

.page-title {
    font-size: 28px;
    /* Taille de police plus grande */
    font-weight: bold;
    /* Police en gras */
}

.chart-section {
    margin: 20px auto;
    width: 85%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.chart-image {
    width: 100%;
    height: auto;
    display: block;
}

.separator {
    height: 4px;
    background: #ccc;
    width: 75%;
    margin: 20px auto;
}

.conclusion-section {
    background-color: #0056b3;
    color: #fff;
    padding: 20px;
    width: 85%;
    margin: 20px auto;
    text-align: center;
    border-radius: 8px;
}

.conclusion-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.conclusion-section p {
    font-size: 1rem;
}

@media only screen and (max-width: 768px) {

    .chart-section,
    .conclusion-section {
        width: 95%;
    }
}