footer {
    background-color: #001f3f;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    background-color: #001f3f;
    color: #fff;
    padding: 20px;
    font-size: 0.9em;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les éléments horizontalement */
}

.footer-section h3 {
    margin-bottom: 10px; /* Espacement entre le titre et les liens */
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    line-height: 2;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #FF5252; /* Utilisation d'une couleur plus visible pour le survol */
}

.footer-bottom {
    text-align: center;
    background-color: #001931;
    color: #fff;
    padding: 10px 0; /* Espacement dans le bas du footer */
}

/* ... Autres styles ... */


.social-icons a {
    color: #fff;
    margin-right: 10px; /* Espacement entre les icônes */
}

.social-icons img {
    width: 50px; /* Ajustez la largeur des images */
    height: 60px; /* Ajustez la hauteur des images */
    margin-right: 5px; /* Espacement entre les images */
}

.social-icons a:hover {
    color: #FF5252; /* Couleur de survol */
}
